:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;
}

.provaLogo{
  width: 24px;
  height: 24px;
}
.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0,21,41,.35);
}

.header-trigger {
  height: 4rem; // 64px
  padding: 1.25rem 1.5rem; // 20px 24px
  font-size: 1.25rem; // 20px
  cursor: pointer;
  transition: all .3s,padding 0s;
}

.trigger:hover {
  color: #1890ff;
}

.sidebar-logo {
  flex-direction: row;
  position: relative;
  height: auto; // 128px
  padding-left: 0.625rem; // 10px
  overflow: hidden;
  background: #001529;
  margin-bottom: 2.5rem;
  transition: all .3s;
}

.sidebar-logo img {
  position: absolute;
  border-radius: 50%;
  display: inline-block;
  height: 2.5rem; // 40px
  width: 2.5rem;
  vertical-align: top;
  margin-top: 38px;
  transition: all .2s;
}

.sidebar-logo {
  div {
    white-space: nowrap;
    position: inherit;
    left: 2.5rem; // 40px
    transition: all 2.0s;
    margin-top: 1.25rem; // 20px
    display: inline-block;
  }
  h1 {
    margin: 0 0 0 20px;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    font-family: Avenir,Helvetica Neue,Arial,Helvetica,sans-serif;
    vertical-align: middle;
  }
  p {
    flex-direction: column;
    margin: 0 0 0 20px;
    color: #fff;
    & a {
      color: white;

      &:hover {
        color: #7676ff;
        font-weight: bold;
      }
    }
  }
}


nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

.app-header {
  position: relative;
  height: 64px;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);

  span span {
    position: absolute;
    left: 48%;
  }
}

nz-content {
  //margin: 24px;
}

.inner-content {
  //background: #fff;
  height: max-content;
}

// @media (max-width: 600px) {
//   .sidebar-logo {
//     div {
//       display: none;
//     }
//   }
// }
