.banner h3 {
  color: #fff;
}
.banner {
    text-align: left;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    background: #009EAE;
    padding: 20px 20px 20px 20px;
    border-radius: 4px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
  }
.container-group{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.container-inputs{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1rem;
}
.container-inputs > div:nth-child(1){
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.container-inputs > div:nth-child(2){
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.container-inputs > div:nth-child(1) label,
.container-inputs > div:nth-child(2) label{
  margin-right: 1rem;
}
  .suite-info{
      display:table-row-group;
  }
  .suite-infor{
      display:table-row-group;
      justify-content: flex-end;
  }
  .span{
    font-size:16px ;
  }
  input {
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    border: 0.5px solid rgb(218, 218, 218);
    border-radius: 2px;
    outline: none;
    transition: all .3s;
    &:focus {
      outline: none;
      border: 0.5px solid #3849AA;
    }
  }
  tbody {
    &:hover {
      cursor: pointer;
    }
  }
  