.grid-config {
  height: 120px;
  font-size: 14px;
  line-height: 120px;
  background: #0092ff;
  border-radius: 4px;
}

.banner {
  text-align: left;
  font-weight: bold;
  color: #fff;
  background: #009EAE;
  padding: 20px 0 20px 20px;
  border-radius: 4px;
  margin-bottom: 15px;
}