.grid-config {
  height: 120px;
  font-size: 14px;
  line-height: 120px;
  background: #0092ff;
  border-radius: 4px;
}

.banner {
  text-align: left;
  font-weight: bold;
  font-size: 1.25rem;
  color: #fff;
  background: #009EAE;
  padding: 1.25rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}