/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.button-bg-primary {
    background: #3949ab;
    color: #fff;
    border: none;
}

.button-bg-primary:hover {
    background: #6f74dd;
    color: #fff;
}

.button-global {
    height: 48px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0 20px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.7px !important;
    transition: background-color 0.5s ease;
    box-shadow: 0px 4px 16px rgba(27, 27, 27, 0.08);
}

.banner {
    text-align: left;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    background: #4dd0e1;
    padding: 20px 20px 20px 20px;
    border-radius: 4px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.button-normal {
    background: #4dd0e1;
    color: white;
    font-weight: bold;
    border: none;
}

.button-normal:hover {
    background: #88ffff;
    font-weight: bold;
    color: white;
}

.maticon-mgleft .mat-icon {
    margin-left: 12px;
}

.maticon-mgright .mat-icon {
    margin-right: 12px;
}

.iconify-mgleft .iconify {
    margin-left: 12px;
}

.iconify-mright .iconify {
    margin-right: 12px;
}

.button-text {
    display: inline-block;
}

.text-w-bold {
    font-weight: bold;
}

.text-fs-12 {
    font-size: 12px;
    line-height: 14px;
}

.ant-modal-title {
    margin: 0;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    word-wrap: break-word;
}

.text-fs-14 {
    font-size: 14px;
    line-height: 17px;
}

.text-fs-16 {
    font-size: 16px;
    line-height: 19px;
}

.text-fs-20 {
    font-size: 20px;
    line-height: 24px;
}


/* 24 pa arriba */

.text-fs-24 {
    font-size: 24px;
    line-height: 29px;
}

.text-fs-32 {
    font-size: 32px;
    line-height: 38px;
}

.text-black {
    color: #222222 !important;
}

.text-white {
    color: #ffffff !important;
}

.text-gray {
    color: #868686 !important;
}

.text-purple {
    color: #7f46f1 !important;
}

.text-red {
    color: #fe5050 !important;
}

.text-green {
    color: #38c976 !important;
}

.text-yellow {
    color: #ffa23a !important;
}

.text-click-black {
    color: #222222 !important;
    cursor: pointer;
    transition: color 0.2s ease;
}

.text-click-black:hover {
    color: #868686 !important;
}

.text-click-white {
    color: #ffffff !important;
    cursor: pointer;
    transition: color 0.2s ease;
}

.text-click-white:hover {
    color: #f9f9f9 !important;
}

.text-click-gray {
    color: #868686 !important;
    cursor: pointer;
    transition: color 0.2s ease;
}

.text-click-gray:hover {
    color: #222222 !important;
}

.text-click-purple {
    color: #7f46f1 !important;
    cursor: pointer;
    transition: color 0.2s ease;
}

.text-click-purple:hover {
    color: #ae85ff !important;
}

.text-click-red {
    color: #fe5050 !important;
    cursor: pointer;
    transition: color 0.2s ease;
}

.text-click-red:hover {
    color: #fe8484 !important;
}

.text-click-green {
    color: #38c976 !important;
    cursor: pointer;
    transition: color 0.2s ease;
}

.text-click-green:hover {
    color: #73d99f !important;
}

.text-click-yellow {
    color: #ffa23a !important;
    cursor: pointer;
    transition: color 0.2s ease;
}

.text-click-yellow:hover {
    color: #ffbe75 !important;
}

.text-click-blue {
    color: #3eaeff !important;
    cursor: pointer;
    transition: color 0.2s ease;
}

.text-click-blue:hover {
    color: #2c7ab3 !important;
}

.inner-content {
    background: #edf0f5 !important;
}

.backgroundContent {
    background: #ffff;
    padding: 2rem;
    border-radius: 4px;
}

.defect-state-new {
    color: #d4f1ff;
    background-color: #20A0E2;
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.defect-state-accepted {
    color: #bcffb1;
    background-color: #48b337;
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.defect-state-rejected {
    color: #ffcbcb;
    background-color: #f50000;
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.defect-state-fixed {
    color: #f1d6cf;
    background-color: #FF5414;
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.defect-state-obs {
    color: #fff8da;
    background-color: #FFE15D;
    padding: 0.25rem;
    border-radius: 0.25rem;
}




.test-state-passed {
    color: rgb(210, 250, 161);
    background-color: rgb(116, 198, 17);
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.test-state-failed {
    color: rgb(250, 161, 161);
    background-color: rgba(179, 33, 33, 0.822);
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.test-state-skipped {
    color: rgb(174, 251, 252);
    background-color: rgb(49, 151, 156);
    padding: 0.25rem;
    border-radius: 0.25rem;
}

.test-state-non-executed {
    color: rgb(233, 233, 233);
    background-color: rgb(107, 107, 107);
    padding: 0.25rem;
    border-radius: 0.25rem;
}