
.bannerUserStory {
    text-align: left;
    font-weight: bold;
    color: #fff;
    font-size: 18px !important;
    background: #4dd0e1;
    padding: 1.25rem;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }
  .back-button{
    margin-right: 20px;
  }
  .fileUpload{
    margin-top: 2.5rem;
    width: 88.41px;
    height: 51.2px;
  }
  .noFileUpload{
    margin-top: 2.5rem;
    width: 88.41px;
    height: 51.2px;
  }
  .centerItems {
    display: flex;
    align-items: center;
    height: 300px;
    justify-content: center;
  }
  .filePrev{
    height: 41px;
    background:#fff;
    border-radius: 12px;
    width: 50%;
    margin-left: 8rem;
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items:baseline;
  }
  .bugIcon .mat-icon {
    background-repeat: no-repeat;
    display: inline-block;
    fill: #5AFE73;
    width: 47px;
    height: 36.53px;
}
  .container-inputs{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1rem;
  }
  .container-inputs > div:nth-child(1){
    display: flex;
    justify-content: flex-start;
    align-items: center;
    right: 2.5rem;

    & input {
      width: 50%;
      border-radius: 1.5rem;
    }

    & i {
      color: black;
      font-size: large;
    }
  }
  .container-inputs > div:nth-child(2){
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .container-inputs > div:nth-child(1) label,
  .container-inputs > div:nth-child(2) label{
    margin-right: 1rem;
  }
    .suite-info{
        display:table-row-group;
    }
    .suite-infor{
        display:table-row-group;
        justify-content: flex-end;
    }
    .span{
      font-size:16px ;
    }

    tbody {
      &:hover {
        cursor: pointer;
      }
    }

  .NoTest{
    width: 181px;
    height: 141px;
  }
  .fileSection{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .title-table-photo {
    margin-bottom: 12px;
    margin-top: 24px;
  }

  .ant-btn-primary {
  background-color: #3849AA;
  border: none;
 }

 .create-form {
  max-width: 1000px;
  display: flex;
  flex-flow: row wrap;
}

.form-label {
  margin-bottom: 0.5rem;
}

.select-input{
  font-size: 1rem;
  width: 100%;
  transition: all .3s;
}

.form-item {
  flex: 1 100%;
  margin: 0.5rem;
  & input {
    width: 100%;
  }
}

button.options{
  width: 50%;
  margin:0.5rem;
}
