.banner {
  text-align: left;
  font-weight: bold;
  color: #fff;
  background: #009EAE;
  padding: 1.25rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
}

.centerItems {
  display: flex;
  align-items: center;
  height: 300px;
  justify-content: center;
}

.NoTest{
  width: 181px;
  height: 141px;
}

.title-table-photo {
  margin-bottom: 12px;
  margin-top: 24px;
}